h4 {
	color: pink;
	font-family: "Source Code Pro", monospace;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	height: 30px;
	padding: 10px;
	background-color: rgba(45, 45, 45, 0.25)
}
p {
	color: white;
	font-family: "Source Code Pro", monospace;
	text-align: justify;
	line-height: 25px;
	position: relative;
	bottom: 25px;
}
hr {
	position: relative;
	bottom: 30px;
}

#thumbnail {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.links {
	color: lightgreen;
	font-family: "Source Code Pro", monospace;
	margin-right: 20px;
	opacity: 0.75;
	position: relative;
	left: 100px;
}

a:link {
  color: lightgreen;
}

a:active {
  color: white;
}

a:hover {
  color: pink;
}

a:visited {
  color: gold;
}

.fullCard {
	width: 375px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 5px;
	padding: 4px;
	background-image: url(https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}
.cardContent {
	padding: 15px;
}
